<div class="container">
  <h1>{{ contact.name }}</h1>
  <dl class="list">
    <dt>Address</dt>
    <dd>{{ contact.address }}</dd>
    <dt>City</dt>
    <dd>{{ contact.city }}</dd>
    <dt>Phone</dt>
    <dd>{{ contact.phone }}</dd>
    <dt>Email</dt>
    <dd>{{ contact.email }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/contact-edit', contact.id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteContact(contact.id)">DELETE</button>
  </div>
</div>
